:root {
    --verde_agua: #bacdc6;
    --azul_cielo: #c2dafc;
    --bosque: #c2c59c;
    --tierra: #e0e0c4;
    --teja: #9d4d3b;

}

@font-face {
    font-family: 'Cherolina';
    src: url('../fonts/Cherolina.otf');
}

@font-face {
    font-family: 'Poppins Black';
    src: url('../fonts/Poppins-Black_0.ttf');
}

@font-face {
    font-family: 'Poppins Medium';
    src: url('../fonts/Poppins-Medium.ttf');
}

header{
    font-family: Poppins Medium;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;

    height: auto;
    margin: 20px 40px;
    width: 90%;
    
}


header img {
      
    height: 70px;
    width: 60px;
    
}

body {
    font-family: Poppins Medium;
    text-align: center;
}

p {
    font-size: 10px;
}

h2 {
    font-size: 20px;
    padding: 20px;
}

h3 {
    padding-bottom: 10px;
}

em {
    font-style: italic;
}

/* p {
    font-size: 10px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
} */

.logo{
    display: inline-flex;
    /* flex-direction: row; */
    /* align-items: right; */
    justify-content: flex-start;
    width: 30%;
    text-align: center;
    font-family: Poppins Medium;
    font-size: 7px;
    font-weight: 100;
    letter-spacing: 0.4em;
    text-align:center;
            
}
.logo_text {
    width: 200px;
    text-align: center;
    
}

.casona {
    font-family: Cherolina;
    font-size: 30px;
    letter-spacing: 0.05em;
}

.navbar { 
    /* align-self: center; */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.navbar li{
    display: inline-flex;
    flex-direction: row;
    
    
}
.navbar a{
    
        color: black;
        font-weight: 100;
        font-size: 12px;
        letter-spacing: 1.3px;
        text-decoration: none;
        padding: 10px;
        margin-bottom: 10px;
        text-align: center;
         
}

.contacto {
    
    margin-left: 10%;
}

.contacto a{
    background-color: black;
    color: white;
    text-decoration: none;
    padding: 10px 30px;
    text-align: center;
    font-size: 11px;
    font-weight: 100;
    letter-spacing: 1.5px;
    
}

.foto_fachada {
    /* background-image: url('../images/fachada.jpg'); */
    /* background-repeat: no-repeat; */
    /* background-position: center; */
    /* width: 100%; */
    /* min-height: 400px; */
    /* height: 10rem; */
    /* background-size:cover; */
    /* background-position-y: -250px; */
    /* image-rendering: optimizeQuality; */
    text-align: center;
    display: flex;
    flex-flow: column;
    overflow:hidden;
     
    
}

.foto_fachada img {
    margin-top: -220px;
    margin-bottom: -200px;
    max-height:800px;
    
    
}
.foto_fachada p {
    font-family: Cherolina;
    font-size: 3rem;
    color: white;
    letter-spacing: 0.1em;
    line-height: 1;
    /* font-weight: bold; */
    background-color: rgba(0,0,0,.75);
    /* padding: 20px; */
    
        
}



#green_box {
    height: 5em;
    background-color: var(--verde_agua);
}

.higiene {
    color: white;
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 12px;
}

.descubre {
    /* background-color: var(--tierra); */
    text-align: center;
    padding: 20px;
}


.descubre p{
    width: 80%;
    margin: auto;
    padding-top:10px;
    font-size: 10px;
    letter-spacing: 0.2em;
    line-height: 1.5em;
}


.tridente {
     
    background-color: black;
    color: white;
    padding: 20px 20px;
    
}

.tridente ul {
    width: 70%;
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.tridente li {
    padding: 20px 20px;
    width: 100%;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    
}

.tridente p {
    font-size: 10px;
}

.tridente h4 {
    font-family: Cherolina;
    font-size: 40px;
}

.circulo_cabecera {

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bosque);
    border-radius: 50%;
    text-align: center;
    width: 4em;
    height: 4em;
    margin-bottom: 20px;
}


#N1 {
    background-color: var(--bosque);
}


#G1 {
    background-color: var(--teja);
}

#T1 {
    background-color: var(--azul_cielo);
}

.apartamentos {
    width: 90%;
    margin: 60px auto;
}

.apartamento {
    margin: 40px auto;
    display: flex;

}

.apartamento img{
    width: 50%;
    
}

.apartamento_texto {
    margin: auto 40px;
    text-align: left;
    line-height: 1.5;
    
}


.apartamento strong{
    font-weight: bold;
}
.apartamento ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px auto;

}

.apartamento li{
    display: flex;
    flex-flow: column;
    text-align: center;
    align-items: center;
    margin: auto 10px;
}

.apartamento li img{
    width: 50px;
    height: auto;
}

.apartamento li p {
    font-size: 8px;
}

.servicios {
    width: 100%;
    background-color: var(--verde_agua);
    text-align: center;
    padding: 40px 0px;

}

.servicios img {
    width: 30px;
    height: auto;
    background-color: white;
}

.servicios ul{
    width: 90%;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.servicios li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 20px;
}

.servicios p {
    font-size:11px;
    margin: auto 5px;
    width: 70px;
    text-align: left;
    line-height: 1.5;
}

.descubre_burgo {
    margin: 40px auto;
    width: 70%;
    line-height: 1.5;
}



/* Media-mobile rules */

@media screen and (max-width: 600px) {

    header {
    display: flex;
    flex-flow: column;
    align-items:center;
    margin: 20px auto;
    }

    .logo{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        
    }

    .contacto {
    
        margin-left: 0;
    }


    .foto_fachada {
        display: flex;
        
        
        overflow: hidden;
        
        
        
    }

    .foto_fachada img {
        margin-top: auto;
        object-fit: cover;
        object-position: 0 -85px;
        
    }

    .foto_fachada p {
        font-size: xx-large;
    }

 
    #tres_circulos {
        flex-direction: column;
    }
    
    .apartamento{
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    #arenales {
        flex-direction: row;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .apartamento img{
        margin: 20px auto;
    }

    .apartamento h3{
        text-align: center;
    }

    .apartamento p{
        text-align: justify;
    }

}